.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/classes
!**/src/main/**/build/distributions
!**/src/main/**/build/kotlin
!**/src/main/**/build/reports
!**/src/main/**/build/resources
!**/src/main/**/build/scripts
!**/src/main/**/build/scriptsShadow
!**/src/main/**/build/test-results
!**/src/main/**/build/tmp
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/